body {
    /* background-color: rgb(100, 100, 100); */
    /* background-color: hsl(204, 70%, 41%); */
    display: flex;
    color: white;
    justify-content: center;
    padding: 0;
    margin:0
}

canvas {
    display: block;
    /* border: 1px solid grey; */
    margin: 0 auto;
    /* color: rgb(255, 127, 80) */
    /* color: light */
}